<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <p class="lead">
          Born with a love for problem solving, I naturally found a love for science. I completed my
          Bachelors in chemistry in 2011, and worked a few years in industry as a chemist but
          quickly realized I had a different calling. While I was researching alternative career
          paths, a friend of mine suggested that I get into software development and the rest is
          history. I completed <a target="_blank" href="http://www.makersquare.com/">MakerSquare's</a> 12
          week immersive software development program in November 2014 with a focus on back-end
          software development.
        </p>
        <p class="lead">
          In my free time I like to get a healthy dose of vitamin D by exploring the never-ending
          list of places to swim, hike and bike around Austin with my friends and dogs, Benson and Samson.
          I'm always on the hunt to find the best burger in Texas and must say that Stackhouse in Dallas
          currently holds that title. I'm also an avid motorcycle rider and frequently venture
          outside of town in an effort to discover a small fraction of the 300,000 miles of roadway
          here in Texas.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
