<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4>
          <strong>Contact</strong>
        </h4>
        </ul>
        <br>
        <ul class="list-inline">
          {% for account in site.data.accounts %}
            <li>
              <a href="{{ account.url }}" {{ account.tags }}><i class="fa fa-{{ account.icon }} fa-fw fa-3x"></i></a>
            </li>
          {% endfor %}
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>


<!-- Resume Modal -->
<div id="resumeModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Resume</h4>
      </div class="modal-body">
        <embed id="resume" src="{{ site.owner.resume }}" type='application/pdf'>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
