<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Projects</h2>
        <hr class="small">
          {% for project in site.data.projects %}
            {% cycle 'add row' : '<div class="row">', nil %}
              <div class="col-md-6">
                <div class="portfolio-item">
                  <a href="" data-name="{{ project.name }}" data-toggle="modal" data-target="#{{ project.abbreviated_name }}Modal">
                    <img class="img-portfolio img-responsive" src="img/small-{{ project.image }}">
                  </a>
                </div>
              </div>
            {% cycle 'end row' : nil, '</div>' %}
          {% endfor %}
        <!-- /.row (nested) -->
        <!-- build out this dropdown once I have more projects -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Project Modal -->
{% for project in site.data.projects %}
  <div id="{{ project.abbreviated_name }}Modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ project.name }}</h4>
        </div>
        <div class="modal-body">
          <a href="{{ project.url }}" target="_blank">
            <img class="img-portfolio img-responsive" src="img/{{ project.image }}">
          </a>
          <h1>
            About
          </h1>
          {{ project.description }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
